body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: sans-serif;
    background-color: black;
    cursor:pointer;
}
.container{
    width:350px;
    height:300px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 20px 30px 30px rgba(0,0,0,0.5);
}
.text{
    font-size: 50px;
    margin-bottom:50px;
}
button{
    padding:15px 50px;
    background:black;
    color:white;
    font-size:20px;
    cursor:pointer;

}